git+https://github.com/braiNEdarwin/brains-py.git@master
torch~=1.11
torchvision~=0.12
matplotlib~=3.4
nidaqmx~=0.6
pytest==7.1.2
pytest-cov==3.0.0
tqdm~=4.63
unittest2==1.1.0
coverage==6.4
PyYAML==6.0
